[submodule "ghv"]
	path = ghv
	url = https://github.com/artzub/GitHubVisualizer.git
[submodule "oly"]
	path = oly
	url = https://github.com/artzub/gexf-js.git
[submodule "plusart"]
	path = plusart
	url = https://github.com/artzub/Plusart.git
[submodule "d3/sv"]
	path = d3/sv
	url = https://github.com/artzub/dbsv.git
[submodule "d3/olyspace"]
	path = d3/olyspace
	url = https://github.com/artzub/olyspace.git
[submodule "works/hhapi"]
	path = works/hhapi
	url = https://github.com/artzub/hhapi.git
[submodule "works/si"]
	path = works/si
	url = https://github.com/artzub/si.git
[submodule "d3/wbca"]
	path = d3/wbca
	url = git@github.com:artzub/wbgds.git
	branch = smy
[submodule "lib/js/d3tooltipjs"]
	path = lib/js/d3tooltipjs
	url = git@github.com:artzub/d3tooltipjs.git
[submodule "lib/js/d3progressbarjs"]
	path = lib/js/d3progressbarjs
	url = git@github.com:artzub/d3progressbarjs.git 
[submodule "lib/js/blackhole.js"]
	path = lib/js/blackhole.js
	url = git@github.com:artzub/blackhole.js.git
[submodule "d3/clearspending"]
	path = d3/clearspending
	url = git@github.com:artzub/clearspending.git
[submodule "GAV"]
	path = GAV
	url = git@github.com:ProdigalCode/GAV.git
[submodule "works/luckylunch"]
	path = works/luckylunch
	url = git@github.com:artzub/luckylunch.git
