.me { background-image: url(/favicon.png); }
.fb { background-image: url(https://www.facebook.com/favicon.ico); }
.vk { background-image: url(https://vk.com/favicon.ico); }
.tw { background-image: url(https://twitter.com/favicon.ico); }
.gp { background-image: url(https://ssl.gstatic.com/s2/oz/images/faviconr3.ico); }
.gm { background-image: url(https://mail.google.com/favicon.ico); }
.in { background-image: url(https://static.licdn.com/scds/common/u/images/logos/favicons/v1/favicon.ico); }
.hr { background-image: url(https://habrahabr.ru/favicon.ico); }
.gh { background-image: url(https://github.com/favicon.ico); }
.bl { background-image: url(https://artzub.blogspot.ru/favicon.ico); }
.so { background-image: url(https://cdn.sstatic.net/stackoverflow/img/favicon.ico); }
.sh { background-image: url(https://stihi.ru/favicon.ico); }
.ig { background-image: url(https://d36xtkk24g8jdx.cloudfront.net/bluebar/b3bd594/images/ico/favicon.ico); }
.hh { background-image: url(https://i.hh.ru/favicons/70x70.png); }
.icq { background-image: url(https://www.icq.com/favicon.ico); }
.vly { background-image: url(https://visual.ly/favicon.ico); }
.cp { background-image: url(https://codepen.io/favicon.ico); }
.sf { background-image: url(https://cdn.sstatic.net/Sites/stackoverflow/img/favicon.ico?v=4f32ecc8f43d);}
.up { background-image: url(https://www.upwork.com/favicon.ico); }
.tm { background-image: url(https://telegram.org/favicon.ico?3); }
.vorg {
  background-image: url(https://visualizing.org/favicon.ico);
  background-position: 0 -1px  !important;
}
.skype { background-image: url(https://www.skype.com/favicon.ico); }

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font: 13px Helvetica, arial, freesans, clean, sans-serif;
  position: relative;
  overflow: hidden;
}

h1, h2, h3 {
  text-shadow: 1px 1px 2px darkgray;
}

a {
  color: #4682b4;
  text-decoration: none;
  border-bottom: 1px dotted #4682b4;
}

a:hover {
  color: #689AC4;
  border-bottom: 1px solid #386890;
}

.header, .footer {
  position: relative;
  min-width: 150px;
  width: 23%;
  padding-left: 1em;
  float: left;
}

.header h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0;
}

.header h1 a {
  border: 0;
  text-decoration: none;
  color: #000;
}

.header>div {
  overflow: hidden;
}

.footer {
  font-size: 1em;
  position: fixed;
  bottom: 1em;
}

.footer aside {
  position: absolute;
  right: 0;
  width: 150px;
  text-align: right;
  color: #9b9b9b;
}

.section {
  float: right;
  display: block;
  overflow-y: auto;
  height: 100%;
  width: 75%;
  min-width: 250px;
}

.ava {
  padding: 3px;
  background: #eee;
  border: 1px solid #bbb;
  border-radius: 3px;
  display: inline-block;
  float: left;
  margin-right: 1em;
}

.ava img {
  width: 10em;
  margin-bottom: -3px;
}

ul {
  list-style: none;
}

.img-title {
  color: #9b9b9b;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.img-title li {
  margin-top: .1em;
}

.img-title li:first-child {
  margin-top: 0;
}

h3, .nav {
  font-variant: small-caps;
}

.links,
.nav {
  padding-left: 1em;
  margin-top: 0;
}

.img-title span,
.links span,
.prop span,
.spec span {
  background-position: left 1px;
  background-repeat: no-repeat;
  background-size: 16px;
  padding-left: 20px;
  padding-bottom: 1px;
}

.links li,
.spec li {
  margin-bottom: .5em;
}

.links li {
  float: left;
  margin-left: .5em;
}

.nav {
  font-size: 1em;
  font-weight: bolder;
}

h2 {
  font-size: 2em;
  text-rendering: optimizeLegibility;
  position: relative;
  padding-left: 1em;
}

h2 a {
  position: absolute;
  width: 100%;
  left: 0;
  color: #ddd;
  text-decoration: none;
}

.nick span:nth-child(odd) {
  color: #ff0000;
  -o-animation: nickc 8s infinite alternate;
  -ms-animation: nickc 8s infinite alternate;
  -moz-animation: nickc 8s infinite alternate;
  -webkit-animation: nickc 8s infinite alternate;
  animation: nickc 8s infinite alternate;
}

.nick span:nth-child(even) {
  display: inline-block;
  -o-animation: nick 8s ease-in-out 2s infinite alternate;
  -ms-animation: nick 8s ease-in-out 2s infinite alternate;
  -moz-animation: nick 8s ease-in-out 2s infinite alternate;
  -webkit-animation: nick 8s ease-in-out 2s infinite alternate;
  animation: nick 8s ease-in-out 2s infinite alternate;
  /* 30s easy-in*/
}

@-ms-keyframes nickc {
  from {
    color: #000000;
  }
  to {
    color: #ff0000;
  }
}

@-moz-keyframes nickc {
  from {
    color: #000000;
  }
  to {
    color: #ff0000;
  }
}

@-webkit-keyframes nickc {
  from {
    color: #000000;
  }
  to {
    color: #ff0000;
  }
}

@keyframes nickc {
  from {
    color: #000000;
  }
  to {
    color: #ff0000;
  }
}

@-ms-keyframes nick {
  from {
    max-width: 200px;
    opacity: 1;
  }
  to {
    max-width: 0;
    opacity: 0;
  }
}

@-moz-keyframes nick {
  from {
    max-width: 200px;
    opacity: 1;
  }
  to {
    max-width: 0;
    opacity: 0;
  }
}

@-webkit-keyframes nick {
  from {
    max-width: 200px;
    opacity: 1;
  }
  to {
    max-width: 0;
    opacity: 0;
  }
}

@keyframes nick {
  from {
    max-width: 200px;
    opacity: 1;
  }
  to {
    max-width: 0;
    opacity: 0;
  }
}

.spec {
  padding-left: 1em;
  color: #000;
  margin-top: 1px;
}

.spec>li:before {
  content: "— ";
}

.spec ul {
  padding: 0;
  margin: 0;
}

h3 {
  padding-left: 2px;
  color: #444444;
  text-shadow: 1px 1px 0 white;
  background: #ddd;
}

.layer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.top {
  z-index: 100;
}

.bottom {
  z-index: 0;
}

.follow {
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

.follow>div {
  width: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 3px solid #ddd;
  position: relative;
  overflow: hidden;
  background: #f9f9f9;
  display: inline-block;
  vertical-align: middle;
}

.follow>div>div {
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid #ddd;
}

.follow>div>div img {
  width: 100%;
  margin-bottom: -3px;
  transition: all .5s;
}

.follow>div>div img.preload {
  width: 64px;
  margin-bottom: 20px;
}

.follow>div>div>div {
  background: rgba(50, 89, 118, 0.9);
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 250px;
  text-align: center;
  color: #e3eef5;
  text-shadow: 1px 1px 0 black;
  border-top: 1px solid #E4EBF2;
}


.follow>div>div>div a {
  color: #e3eef5;
  text-shadow: 1px 1px 0 black;
  border-bottom: 1px dotted #e3eef5;
}

.follow>div>div>div a:hover {
  border-bottom-style: solid;
}

.follow>div>div>div div {
  width: 100%;
  max-height: 0;
  padding-bottom: 2px;
}

.follow>div>div:hover>div div {
  max-height: 250px;
  /*border-top: 1px solid #E4EBF2;*/

  -webkit-transition: max-height 0.2s ease-in-out 0.4s;
  -moz-transition: max-height 0.2s ease-in-out 0.4s;
  -ms-transition: max-height 0.2s ease-in-out 0.4s;
  -o-transition: max-height 0.2s ease-in-out 0.4s;
  transition: max-height 0.2s ease-in-out 0.4s;
}

h4 {
  margin: 0;
  margin-bottom: 2px;
  width: 100%;
}

h4 a {
  text-decoration: none;
  width: 100%;
  display: inline-block;
  color: #C2D2E1;
  border-bottom: none;
}

h4 a:hover {
  color: #E4EBF2;
  border-bottom: none;
}

.prop {
  margin: 0;
  padding: .5em;
  text-align: left;
}

.prop li {
  margin-bottom: 2px;
}

@media screen
and (min-device-width : 320px)
and (max-device-width : 640px) {
  html, body {
    overflow: auto;
  }

  .footer {
    position: inherit;
    padding: 0;
  }

  .header, .footer, .section {
    padding: 0;
    margin: 0;
    float: none;
    overflow: hidden;
    height: auto;
    width: 100%;
  }

  .header h1 {
    margin-top: 0;
  }
}

.tips {
  padding: 2px;
  border: 1px solid #ddd;

  background-color: #e8e8e8;
  background-image: -moz-linear-gradient(#fafafa, #e8e8e8);
  background-image: -webkit-linear-gradient(#fafafa, #e8e8e8);
  background-image: linear-gradient(#fafafa, #e8e8e8);
  background-repeat: repeat-x;
}
.tips code {
  background: #f8f8f8;
  border: 1px dotted #d8d8d8;
  padding: 0 2px;
}

#pub {
  text-align: start;
  font-size: 16px";
}

#pub li {
  margin-top: 5px;
}

#pub ul {
  list-style: circle;
}

#aboutMe {
  text-align: start;
  padding: 10px 40px;
  font-size: 16px;
}